
.main-bg {
  /*opacity: 0.85;
  background: linear-gradient(40deg, #e84a5f, #2a363b);
  background-image: url('../img/main-bg.jpg');*/
  background-image: linear-gradient(40deg,  #2a363bd6,#e84a5fd6), url('../img/main-bg.jpg');
  
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}